body{
    text-align: center;
    margin: 0 auto;
}

.headers{
    display: flex;
    margin: auto;
    color:white;
    justify-content: space-around;
    background-image: url("project/images/Снимок экрана (227).png");
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background-image: url("project/images/image\ 4.png");
    background-attachment: fixed;
    background-size: cover;
    width: 1800px;
    height: 1000px;
    padding: 50px;
    position: relative;
}

.text{
    padding: 20px;
    background-color:  #C3C8A6;
    width: 800px;
    height: 850px;
    font-size: large;
    justify-content: center;
    position: absolute;
    left: 25%;
    top: 10%;
}

.dota2:hover{
    margin: 0 10px 10px 0;
    border-left:5px inset rgb(178, 46, 46);
    border-right:5px inset rgb(178, 46, 46);
    border-bottom:5px inset rgb(178, 46, 46);
    border-top:5px inset rgb(178, 46, 46);
}

.page:hover{
    margin: 0 10px 10px 0;
    border-left:5px solid rgb(63, 133, 56);
    border-right:5px solid rgb(63, 133, 56);
    border-bottom:5px solid rgb(63, 133, 56);
    border-top:5px solid rgb(63, 133, 56);
}

.sup:hover{
    margin: 0 10px 10px 0;
    border-left:5px double rgb(39, 58, 153);
    border-right:5px double rgb(39, 58, 153);
    border-bottom:5px double rgb(39, 58, 153);
    border-top:5px double rgb(39, 58, 153);
}

.info:hover{
    margin: 0 10px 10px 0;
    border-left:5px dotted rgb(173, 50, 139);
    border-right:5px dotted rgb(173, 50, 139);
    border-bottom:5px dotted rgb(173, 50, 139);
    border-top:5px dotted rgb(173, 50, 139);
}